# --------------------------------------------
# APPLICATION
# --------------------------------------------
PORT=8080
SPRING_PROFILES_ACTIVE=dev

# --------------------------------------------
# DATABASE (PostgreSQL)
# --------------------------------------------
POSTGRES_PORT=5432
POSTGRES_DB=expenses_db
PG_USERNAME=postgres
PG_PASSWORD=postgres

# --------------------------------------------
# JWT SECURITY
# --------------------------------------------
JWT_SECRET=your-256-bit-secret-key-here-must-be-at-least-32-characters-long-for-security
